<div ng-if="allLaunches | async">
  <mat-grid-list [cols]="cols | async" rowHeight="2:1" gutterSize="12px">
    <mat-grid-tile *ngFor="let launch of allLaunches">
      <mat-list>
        <mat-list-item>
          <h4>Launch: {{launch.flight_number}} on {{launch.launch_date_utc | date: 'mediumDate'}}</h4>
        </mat-list-item>
        <mat-list-item>{{launch.rocket.rocket_name}} - {{launch.launch_success ? 'success' : 'failure'}}</mat-list-item>
        <mat-list-item>{{launch.launch_site.site_name_long}}</mat-list-item>
      </mat-list>
      <img [src]="online$ ? launch.links.mission_patch_small : 'assets/images/rocket-default.png'" alt="">
    </mat-grid-tile>
  </mat-grid-list>
</div>
